.env
.envrc
*.pyc
__pycache__/
.ipynb_checkpoints/
.vscode/
.envs/
.env/
.venv/
venv/
env/
# RunPod venv
/workspace/envs/
/workspace/.cache/
/workspace/models/
/workspace/backups/
/workspace/datasets/*.jsonl
logs/
*.log
